body {
    font-family: 'Open Sans', sans-serif;
    color : #555555;
}

.panel {
    width : 90%;
    margin-left : 5%;
}

.content {
    padding : 10px;
}

input[type=text] {
    margin : 10px;
    border : solid darkgray 1px;
    color : lightgray;
    width : 100px;
}

.hidden {
    display : none;
}

.vis {
    display : table-row;
}

.vis>div {
    display : table-cell;
    top : 0;
}

svg {
    margin-left : 10px;
    border : solid darkgray 1px;
}

.node {
    stroke: #fff;
    stroke-width: 1px;
}

.link {
    stroke: #888;
    stroke-opacity: .6;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #222;
    opacity : 0.8;
    border : solid white 1px;

}

#tooltip.hidden {
    display : none;
}

#tooltip p {
    color : white;
    margin: 0;
    font-size: 10px;
}

