body {
    font-family: 'Open Sans', sans-serif;
    color : #555555;
}

.panel {
    width : 90%;
    margin-left : 5%;
}

.content {
    padding : 10px;
}

input[type=text] {
    margin : 10px;
    border : solid darkgray 1px;
    color : lightgray;
    width : 100px;
}

.hidden {
    display : none;
}

.vis {
    display : table-row;
}

.vis>div {
    display : table-cell;
    top : 0;
}

svg {
    margin-left : 10px;
    border : solid darkgray 1px;
}

.node {
    stroke: #fff;
    stroke-width: 1px;
}

.link {
    stroke: #999;
    stroke-opacity: .6;
}

