body {
    font-family: 'Open Sans', sans-serif;
    color : #555555;
}

.panel {
    width : 80%;
    margin-left : 10%;
}

.content {
    padding : 10px;
}

input[type=text] {
    margin : 10px;
    border : solid darkgray 1px;
}

.hidden {
    display : none;
}

.vis {
    display : table-row;
}

.vis>div {
    display : table-cell;
    top : 0;
}

svg {
    margin-left : 10px;
    border : solid darkgray 1px;
}