body {
    font-family: 'Open Sans', sans-serif;
    color : #555555;
}

.panel {
    width : 95%;
    margin-left : 2.5%;
}

.content {
    padding : 5px;
}

input[type=text] {
    margin : 10px;
    border : solid darkgray 1px;
    color : black;
    width : 100px;
}

.hidden {
    display : none;
}

.vis {
    display : table-row;
}

.vis>div {
    display : table-cell;
}

.hor {
    display : table-cell;
    float : left;
}

.bars {
    height : 150px;
}

.sunburst {
    padding-bottom : 5px;
}

svg {
    margin-left : 10px;
    border : solid darkgray 1px;
}

.node {
    stroke: #fff;
    stroke-width: 1px;
}

.node:hover {
    stroke : #000;
}

.node.permanent {
    stroke : #000;
}

.node.award {
    stroke : darkred;
    fill : orange !important;
}

span.award {
    display:block;
    color :#e6550d;
    font-style:italic;
}

.detailNode {
    stroke: #fff;
    stroke-width: 1px;
}

.link {
    stroke: #777;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #222;
    opacity : 1;
    border : solid white 1px;

}

#tooltip.hidden {
    display : none;
}

#tooltip p {
    color : white;
    margin: 0;
    font-size: 10px;
}

#tooltip p.description {
    color : lightgray;
    margin: 3px;
    font-size: 9px;
    font-style : italic;
}

#tooltip img {
    width : 100px;
}

#tooltip:hover{
    display : none;
}

.bar {
    fill: steelblue;
}

.bar:hover {
    fill: brown;
}

.axis {
    font-size: 10px;
}
.x.axis{
    visibility: hidden;
}
.x.axis>text {
    visibility: visible;
}

.axis path, .axis line {
    fill: none;
    stroke: #555;
    shape-rendering: crispEdges;
}

.x.axis path {
    display: none;
}

.legend {
    color : #880000;
    font-weight: bold;
}


.ui-autocomplete {
    max-height: 300px;
    overflow: scroll;
}

span.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
    height: 15px;
    padding: 0 0 0 3px;
    line-height: 13px;
    margin-left: 10px;
}

input.ui-spinner-input {
    margin: 0;
    border: none;
    font-size: 13px;
}

#years {
    width: 120px;
    display: inline-block;
    margin: -2px 20px;
    height: 12px;
}

.ui-slider-handle {
    width: 15px !important;
    height: 15px !important;
    border-radius: 10px;
    margin-top: 2px;
}

.yearMin, .yearMax {
    display: inline-block;
    font-size: 12px;
    width: 50%;
    padding-top: 15px;
}

.yearMax {
    text-align: right;
}

::-webkit-input-placeholder {
    color: lightgrey;
}

:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: lightgrey;
}

:-ms-input-placeholder {
    color: lightgrey;
}

