body {
    font-family: 'Open Sans', sans-serif;
    color : #555555;
}

.panel {
    width : 90%;
    margin-left : 5%;
}

.content {
    padding : 10px;
}

input[type=text] {
    margin : 10px;
    border : solid darkgray 1px;
    color : black;
    width : 100px;
}

.hidden {
    display : none;
}

.vis {
    display : table-row;
}

.vis>div {
    display : table-cell;
    top : 0;
}

svg {
    margin-left : 10px;
    border : solid darkgray 1px;
}

.node {
    stroke: #fff;
    stroke-width: 1px;
}

.node.fixed {
    stroke : #000;
}

.node.permanentFixed {

}

.link {
    stroke: #777;
}

#tooltip {
    position: absolute;
    width: auto;
    height: auto;
    padding: 5px;
    background-color: #222;
    opacity : 1;
    border : solid white 1px;

}

#tooltip.hidden {
    display : none;
}

#tooltip p {
    color : white;
    margin: 0;
    font-size: 10px;
}

#tooltip img {
    width : 100px;
}

.ui-autocomplete {
    max-height: 300px;
    overflow: scroll;
}

span.ui-spinner.ui-widget.ui-widget-content.ui-corner-all {
    height: 15px;
    padding: 0 0 0 3px;
    line-height: 13px;
    margin-left: 10px;
}

input.ui-spinner-input {
    margin: 0;
    border: none;
    font-size: 13px;
}

::-webkit-input-placeholder {
    color: lightgrey;
}

:-moz-placeholder { /* Firefox 18- */
    color: lightgrey;
}

::-moz-placeholder {  /* Firefox 19+ */
    color: lightgrey;
}

:-ms-input-placeholder {
    color: lightgrey;
}

